<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>BBChatter JS Tests</title>
  <link rel="stylesheet" href="./stylesheets/qunit-1.10.0.css">
</head>
<body>
  
  <!-- This div is required for QUnit. -->
  <div id="qunit"></div>

  <!-- This is required to test the DOM. -->
  <div id="qunit-fixture"></div>

  <script type="text/template" id="message-template">
    <li class="message">
      <div class="message-header">
        <%- display_name %> [<%- timestamp %>]
      </div>
      <div class="message-body">
        <%- text %>
      </div>
    </div>
  </script>

  <script src="./assets/jquery-1.8.2.min.js"></script>
  <script src="./assets/underscore-min.js"></script>
  <script src="./assets/backbone-min.js"></script>
  <script src="./javascripts/qunit-1.10.0.js"></script>
  <script src="./javascripts/sinon-1.5.0.js"></script>
  <script src="./assets/models/bbchatter.Message.js"></script>
  <script src="./assets/collections/bbchatter.MessageCollection.js"></script>
  <script src="./assets/models/bbchatter.Chatroom.js"></script>
  <script src="./assets/views/bbchatter.MessageView.js"></script>
  <script src="./assets/views/bbchatter.ChatroomView.js"></script>

  <!-- Load the tests last. -->
  <script src="./javascripts/tests.js"></script>

</body>
</html>