<div class="page">
	<div class="header row">
	</div>
	<div class="chat-window row scroll-y">
	</div>
	<div class="footer row">
		<textarea id="message" name="message">
		</textarea>
	</div>
</div>

<script type="text/javascript">
	$("#message").width();
</script>
