/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

html, body { margin: 0; padding: 0; }

#chatroom { }
#chatroom-header { position: absolute; top: 0px; left: 0px; right: 0px; height: 80px; overflow: hidden; background: #eee; padding: 10px; }
#chatroom-window { position: absolute; top: 90px; bottom: 110px; left: 0px; right: 0px; overflow-y: auto; }
#chatroom-footer { position: absolute; left: 0px; right: 0px; bottom: 0px; height: 100px; background: #eee; padding: 10px; }

#chatter-form textarea { position: absolute; top: 10px; bottom: 10px; left: 10px; right: 100px; height: 90px; }
#chatter-form button { position: absolute; top: 10px; right: 10px; height: 90px; width: 80px; }

#overlay { 
	position: absolute; top: 0; bottom: 0; left: 0; right: 0;
	background-color: #000;

}
.overlay-content {
	background-color: #fff;
	color: #333;
	width: 400px;
	padding: 10px;
	margin: 120px auto;
}
.overlay-content button {
	padding: 8px 4px;
}

label.radio {
	display: block;
	margin-bottom: 3px;
}
